body {
    font-family: "Poppins", sans-serif
}

.video-wrapper {
    position: relative;
}

.video-wrapper video {
  height: auto;
  vertical-align: middle;
  width: 100%;
}
.video-description {
  background: transparent;
  position: absolute;
  top: -72%;
  right: 0;
  bottom: 0;
  left: -75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Optional -- Wrap Logo with h3 to style it.*/

.video-description h3 {
    color: #000;
    font-family: "Nobile",sans-serif;
    font-size: 2em;
    margin: 0;
    padding: 6px 12px;
    text-align: center;
}

a {
    color: #92badd;
    display:inline-block;
    text-decoration: none;
    font-weight: 400;
}
h2 {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display:inline-block;
    margin: 40px 8px 10px 8px; 
    color: #cccccc;
}
.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
}
#formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
}
h2.inactive {
    color: #cccccc;
}
h2.active {
    color: #0d0d0d;
    border-bottom: 2px solid #5fbae9;
}
input[type=text], input[type=password], input[type=email] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}
input[type=text]:focus, input[type=password]:focus, , input[type=email]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
}

input[type=text]:placeholder, input[type=password]:placeholder, input[type=email]:placeholder {
    color: #cccccc;
}
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}
.underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
}
.underlineHover:hover {
    color: #0d0d0d;
}
.underlineHover:hover:after{
    width: 100%;
}
*:focus{
    outline: none;
} 
#icon{
    height: 60px;
    margin: 20px;
}
*{
    list-style: none;
    text-decoration: none;
}
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
video{
    width: 100%;
    height: auto;
    margin: 8px;
}
#mute, #unmute, #hangup, #vd_on, #ss_off, #info, #chat, #chat_off{
    display: none;
}

#chat_off{
    margin: 0;
}

#btns{
    display: flex;
    align-items: center;
    justify-content: center;
}
#go{
    margin: 20px;
}
#main{
    display: none;
}
#names, #chat_on{
    display: block;
}
#info{
    position: absolute;
    left: 30px;
    top: 30px;
    display: none;
    color: white;
    background-color: #9e3a55;
    border-radius: 20px;
}

#logout{
    position: absolute;
    right: 30px;
    top: 30px;
}

#info *{
    display: flex;
    padding: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#chat{
    position: absolute;
    top: 10px;
    right: 10px;
}
.container *{
    margin: 5px;
}
#info_icon{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 25px;
    cursor: pointer;
    z-index: 1000;
    display: none;
}

.chat-container {
	width: 350px;
	margin: 30px auto;
	overflow: hidden;
}

.chat-messages {
	padding: 20px;
	height: 80vh;
	overflow-y: scroll;
}

.chat-messages .message {
	padding: 5px;
	margin-bottom: 10px;
    background-color: rgba(57, 172, 231, 0.5);
	border-radius: 5px;
    overflow-wrap: break-word;
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: black;
    margin-bottom: 7px;
    opacity: 1;
}

.chat-messages .message .meta span {
    color:black;
    opacity: 1;
}

.chat-form-container {
    display: flex;
	padding: 20px 30px;
}

.chat-form-container form {
	display: flex;
}

.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	flex: 1;
}

.button {
    background-color: #ba1600; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }